# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.project
.idea
.vscode/*
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# IDE - VSCode
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# yarn 2.0+
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Node modules
node_modules/

# Build files
docs/shared/lib/
packages/*/lib/

# Vuepress Cache
.cache/
# Vuepress Temp
.temp/
# Vuepress Output
dist/

# Rollup Cache
.rollup.cache/

# Typescript build info
*.tsbuildinfo

# Coverage Files
coverage/

# macOS
.DS_Store

# App
pnpm-lock.yaml
yarn.lock
package-lock.json