@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  src:
    url("/fonts/poppins-v19-latin-regular.woff2") format("woff2"),
    url("/fonts/poppins-v19-latin-regular.woff") format("woff");
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  src:
    url("/fonts/poppins-v19-latin-500.woff2") format("woff2"),
    url("/fonts/poppins-v19-latin-500.woff") format("woff");
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  src:
    url("/fonts/poppins-v19-latin-600.woff2") format("woff2"),
    url("/fonts/poppins-v19-latin-600.woff") format("woff");
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  src:
    url("/fonts/poppins-v19-latin-700.woff2") format("woff2"),
    url("/fonts/poppins-v19-latin-700.woff") format("woff");
}

@font-face {
  font-family: Poppins;
  font-style: italic;
  font-weight: 400;
  src:
    url("/fonts/poppins-v19-latin-italic.woff2") format("woff2"),
    url("/fonts/poppins-v19-latin-italic.woff") format("woff");
}

@font-face {
  font-family: Poppins;
  font-style: italic;
  font-weight: 700;
  src:
    url("/fonts/poppins-v19-latin-700italic.woff2") format("woff2"),
    url("/fonts/poppins-v19-latin-700italic.woff") format("woff");
}

* {
  font-family:
    Poppins,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Helvetica,
    Arial,
    sans-serif !important;
  text-shadow: 0px 0px 1px #acacac;
  // text-align: start !important;
  font-weight: 500;
}

// body {
//   font-size: 14px;
// }

p {
  display: block;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  line-height: normal;
}
blockquote > p {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

code {
  margin: 0 0.1em;
  padding: 0.1rem 0.25rem;
}

.theme-hope-content:not(.custom) > p,
.theme-hope-content:not(.custom) > ul p,
.theme-hope-content:not(.custom) > ol p {
  text-align: start !important;
}
